---
key: 3
id: 2
title: Notre parcours
permalink: /parcours/
redirect_from: /map/
excerpt: Une liste d'initiatives, nos futures destinations et le chemin parcouru.
image: /images/france-map.jpg
options: map
---
{%- assign NOW = 'now' | date: '%Y-%m' -%}

<div class="wrapper">
  <div class="inner">
    <h4>La carte des initiatives&nbsp;:</h4>
    <iframe src="https://www.google.com/maps/d/embed?mid=1OdvXqdhKG5KCGQ8RIovbxoYRZYyVvU6p&amp;z=6" width="100%" height="520"></iframe>
    <p>Vous pensez à quelqu'un / un endroit qui n'est pas sur la carte&nbsp;? <a href=mailto:hello@estcequecestdutravail.xyz>Dites-le nous !</a></p>

    {% assign upcoming_itineraries = site.itineraries | where_exp: 'i', 'i.slug >= NOW' %}

    {% for itinerary in upcoming_itineraries %}
      {% include itinerary.html post=itinerary %}
    {% endfor %}

    <hr width="300">

    <h4>Retour sur le début du périple</h4>
    {% assign previous_itineraries = site.itineraries | where_exp: 'i', 'i.slug < NOW' %}
    {% for itinerary in previous_itineraries %}
      {% include itinerary.html post=itinerary %}
    {% endfor %}
  </div>
</div>
