{%- assign itinerary = include.post -%}
<article id="{{ itinerary.slug }}">
  <h5>{{ itinerary.title }}</h5>

  {% if itinerary.map %}
  <iframe src="{{ itinerary.map }}" width="100%" height="480" allowfullscreen referrerpolicy="no-referrer" sandbox="allow-scripts allow-same-origin"></iframe>
  {% endif %}

  {% if site.data.itinerary[ itinerary.slug ] %}
    {%- assign data = site.data.itinerary[ itinerary.slug ] -%}
    {% include map.html data=data %}
  {% endif %}

  {{ itinerary.content }}
</article>
